<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   config.plist
   TogglBar

   Created by Felipe Augusto Sviaghin Ferri on 2/4/17.
   Copyright (c) 2017 Felipe Augusto Sviaghin Ferri. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
