<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userAgent</key>
	<string>felipe.ferri@gmail.com</string>
	<key>togglApiToken</key>
	<string>8c8fb19c632962d1eb85196805e11d03</string>
	<key>workspaceIndex</key>
	<integer>0</integer>
</dict>
</plist>
